/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__brand;
	border-radius: 3px;
	background: $color__background-body;
	color: $color__brand;
	@include font-size(1);
	line-height: $font__line-height-body;
	margin: 0 0 0.666*$base__space-unit;
	&:hover,
	&:active,
	&:focus {
		border-color: $color__brand-dark;
		color: $color__brand-dark;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  border: 1px solid;
	border-color: $color__brand;
	border-radius: 3px;
	color: $color__text-main;
	line-height: $font__line-height-body;
	@include font-size(0.9);
	background: inherit;
	margin: 0 0 0.666*$base__space-unit;
	padding:
	&:focus {
		color: $color__text-main;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	@include font-size(0.9);
	margin: 0 0 0.666*$base__space-unit;
}

textarea {
	padding-left: 3px;
	width: 100%;
	@include font-size(0.9);
	margin: 0 0 0.666*$base__space-unit;
}

/* Labels */

label {
	@include font-size(0.9);
	display: block;
	margin: 0 0 0.333*$base__space-unit;
}